<!DOCTYPE html>
<!-- NOTE: Required to load static files -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" />
</head>
<body>
    <h1>Add a new user:</h1>
        <form method="POST">
            {{ user_form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="submit" />
        </form> 
    <h1>Here are the list of Users</h1>
    <div>
        {% if users %}
            <ol>
                {% for person in users %}
                    <li>User Info</li>
                        <ul>
                            <li>First Name: {{ person.first_name }}</li>
                            <li>Last Name: {{ person.last_name }}</li>
                            <li>Email: {{ person.email }}</li>
                        </ul>
                {% endfor %}
            </ol>>
        {% else %}
            <p>No Users Found</p>
        {% endif %}
    </div>
</body>
</html>